// above xs screen can display
@media (max-width: $tablet-breakpoint) {
    #share-post-line {
        display: none;
    }
}

.review-detail-general img {
    display: block;
    max-width: 100%;
    height: auto;
}

.truncate  {
  .pointer {
    margin-left: 0px !important;
  }
}