.product-image {
    height: 25rem;
}

.img-big-wrap {
    text-align: center;
    margin-top: 1rem;
}

@media(max-width: 37.5rem) {
    .product-image {
        width: 80%;
        height: 80%;
    }

    .img-big-wrap {
        text-align: center;
        margin-top: 3rem;
    }
}