.rc-steps {
    font-size: 0;
    width: 100%;
    line-height: 1.5;
    display: block !important;
}

@media (min-width: $tablet-breakpoint) {
    .rc-steps {
        line-height: 1.75;
        display: flex !important;
    }
}