html {
  // font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  // font-size: $m-size;
  background: linear-gradient(90deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 71%);
}

button {
  cursor: pointer;
}

.button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

@media(max-width: 37.5rem) {
  .container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }
}